*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 1em;
    line-height: 1.6;
    font-family: 'K2D', Arial, sans-serif;
    min-width: 1000px;
    
}
h1, h2, h3, h4{
    font-family: 'Playfair Display', Arial, serif;
       font-size: 3.157em; 
    color: hsl(0, 0%, 0%);
    text-shadow: 2px 2px hsl(0, 0%, 40%);
}
p{
   
    margin: 16px; 
    
}
.container{
 max-width: 1500px;  
}
.subnav{
 display: flex;
    flex-flow: row-reverse;
    flex-wrap: nowrap;
    background-color: hsl(0, 0%, 86%);
}
.subnav a{
    height: 50px;
    font-size: 1.333em;
    padding-right: 10px;
    color: hsl(0, 0%, 0%);
}
.mainnav{
   display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: hsl(0, 0%, 86%);
}
.mainnav a{
    height: 100px;
    font-size: 3em;
    text-decoration: none;
    color: hsl(0, 0%, 0%);
}

a:hover {
    
    background-color: hsl(95, 100%, 96%);
    text-decoration: underline;
    font-family: sans-serif;
    
}

.masthead{
      display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: hsl(0, 0%, 100%);
    min-width: 1240px;
}

}
.times-logo{
    
}
.masthead h1{
    margin-right: auto;
    padding-left: 15px;
}
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
    padding-top: 50px;
}
.content .story{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.story.lead-story{
    grid-column: 1/span 2;
}
h1.story-title{
}
.story img{
    float:right;
    margin-left: 20px;
}
.story p{
    font-size: 1em;
}

.lead-story blockquote{
    
    margin: 50px, 410px, 50px, 50px;
    width: 975px;
    padding-right: 20px;
}

.story blockquote{
   quotes: "\201E" "\201D"; 
    background-color: hsl(0, 0%, 94%);
    margin-right: 25px;
    
}
.story blockquote::before{
    content: open-quote;
    font-style: italic;
}
.story blockquote::after{
    content: close-quote;
    font-style: italic;
}
.story p.byline{
    
    
    
}
p.byline span.author{

}
p.byline span.pub{
    
}
.foot{
    
}
.foot p{
    
}

@media (max-width: 300px) {
    html { font-size: 40%; }
}

@media (min-width: 500px) {
    html { font-size: 60%; }
}

@media (min-width: 700px) {
    html { font-size: 90%; }
}

@media (min-width: 1200px) {
    html { font-size: 120%; }
}

